<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <script src="/js/checkToken.js"></script>
</head>
<body>
<h1>HOME</h1>
<p id="user_info">

</p>
<button id="task">Task</button>
<script src="/js/home.js"></script>
</body>
</html>